pipeline {
    agent {
        docker {
            image 'selenium/standalone-chrome:149.0'
            args '--shm-size="128MiB" -e HOME=/tmp'
        }
    }

    options {
        skipDefaultCheckout()
    }

    environment {
        GRADLE_USER_HOME = "${WORKSPACE}/.gradle"
    }

    tools {
        allure 'allure-cli'
    }

    stages {
        stage('Test') {
            steps {
                catchError(buildResult: 'FAILURE', stageResult: 'FAILURE') {
                    sh 'chmod +x gradlew'
                    sh './gradlew clean test'
                }

                allure includeProperties: false, results: [[path: 'build/allure-results']]
            }
        }
    }
}
